 <table>
   <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
    </thead>
<tbody>
    <div class="list-wrap">
    <div class="list-comment">
    <tr>
    <td class="list-title"><%= @book.title %></td>
    <td class="list-body"><%= @book.body %></td>

    </tr>
   </div>
</div>
   </tbody>
  </table>

<%= link_to "Edit", edit_book_path(@book.id) %>